html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

button {
  display: inline-block;
  background-color: white;
  font-size: 18px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

input {
  margin-left: 20px;
  font-size: 16px;
  padding: 10px;
}

button p {
  margin: 0;
  display: inline-block;
}

button:last-of-type {
  margin-left: 20px;
}

.results_title {
  font-weight: 400;
}